:root {
  --dark0: #211e20;
  --dark1: #3e3c3d;
  --dark2: #5a5a5a;
  --dark3: #777877;
  --dark4: #939595;
  --dark5: #b0b3b2;
  --dark6: #ccd1cf;

  --blue: #555568;
  --tan: #a0a08b;
  --white: #e9efec;

  --1: #FFCACA;
  --2: #FFDCC6;
  --3: #FFEDC1;
  --4: #FEFFB8;
  --5: #E1FFC2;
  --6: #C4FFCB;
  --7: #B9ECE5;
  --8: #ADD8FF;
  --9: #BDC4F4;
  --0: #CCAFE9;

  --px: 60px;
}

html {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--dark3);
  background-image: linear-gradient(172deg, var(--white) 10%, var(--dark3) 70%);
  overflow-x: hidden;
  overflow: overlay;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  color: var(--black);
  font-family: sans-serif;
}

p, a, li {
  font-size: 20px;
}

a {
  transition: color 0.2s;
}

a:hover {
  color: var(--tan);
}

h1 {
  text-align: center;
}

.footer {
  text-align: center;
}

.container {
  width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
}

.box {
  border: 3px solid var(--blue);
  background-color: var(--white);
  padding: 10px 10px;
  margin: 20px 0;
  box-sizing: border-box;
}

.title h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.game-grid {
  border: 3px solid var(--dark4);
  margin: 10px auto;
  height: calc(var(--px) * 5);
  width: calc(var(--px) * 5);
  display: flex;
  flex-wrap: wrap;
  /* pointer-events: none; */
}

.single-grid {

  height: var(--px);
  width: var(--px);
  box-sizing: border-box;
  border: 3px solid var(--dark4);
  user-select: none;
  /* pointer-events: none; */
}



#drag-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 100%;
  gap: 10px;
  padding: 10px;
  /* flex-basis: content; */
}

.drag {
  /* position: relative; z-index: 99999; */

  pointer-events: auto;

  box-sizing: border-box;
  border: 3px solid var(--blue);
  display: flex;
  justify-content: space-between;

  background-color: var(--dark6);
  user-select: none;

}

.d12 {
  flex-flow: row;
  height: calc(var(--px) - 6px);
  width: calc(2 * var(--px) - 6px);
}

.d21 {
  flex-flow: column;
  height: calc(2 * var(--px) - 6px);
  width: calc(var(--px) - 6px);
}

.d13 {
  flex-flow: row;
  height: calc(var(--px) - 6px);
  width: calc(3 * var(--px) - 6px);
}

.d31 {
  flex-flow: column;
  height: calc(3 * var(--px) - 6px);
  width: calc(var(--px) - 6px);
}

.d11 {
  flex-flow: column;
  height: calc(var(--px) - 6px);
  width: calc(var(--px) - 6px);
}


.drag-box-square {
  box-sizing: border-box;
  height: calc(var(--px) - 12px);
  width: calc(var(--px) - 12px);
  user-select: none;

}

.drag-box-square p {
  font-size: 24px;
  text-align: center;
  margin: calc(50% - 12px - 2px) 0;
  padding: 0;
}

.footer {
  clear: both;
}


div[data-val='1'] {
  background-color: var(--1);
}

div[data-val='2'] {
  background-color: var(--2);
}

div[data-val='3'] {
  background-color: var(--3);
}

div[data-val='4'] {
  background-color: var(--4);
}

div[data-val='5'] {
  background-color: var(--5);
}

div[data-val='6'] {
  background-color: var(--6);
}

div[data-val='7'] {
  background-color: var(--7);
}

div[data-val='8'] {
  background-color: var(--8);
}

div[data-val='9'] {
  background-color: var(--9);
}

div[data-val='0'] {
  background-color: var(--0);
}


#heehee {
  text-align: center;
  font-size: 10px;
  margin: 5px auto;
  margin-top: 0;
  background-color: var(--dark0);
  width: 80%;
  transition: background-color 0.5s;
  border-radius: 20px;
}

#heehee:hover {
  background-color: var(--dark6);
}




/* confetti! https://discourse.webflow.com/t/add-falling-confetti-with-css/103687 */


#confetti-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  /* margin: 0; */
  box-sizing: border-box;
  pointer-events: none;
}
.confetti {
 width: 15px;
 height: 15px;
 background-color: #f2d74e;
 position: absolute;
 left: 50%;
 animation: confetti 5s ease-in-out -2s infinite;
 transform-origin: left top;
 overflow: hidden;
}
.confetti:nth-child(1) {
 background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
 background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
 background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
 background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
 background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
 background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
 background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
 background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
 background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
 background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
 0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
 25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
 50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
 75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
 100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}


.title {
  display: flex;
  justify-content: space-around;
}

.title-text {

}

.title-small {
  width: 25px;
  padding: 10px;
}

.question {
  margin-top: 5px;
  width: 25px;
  height: 25px;
  background-color: var(--white);
  color: var(--dark4);
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  border: 6px var(--dark4) solid;
}

.question p {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
}

.question:hover {
  background-color: var(--dark4);
  color: var(--white);
  cursor: pointer;
}

#overlay {
  display: block;
  opacity: 100%;

  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  /* margin: 0; */
  box-sizing: border-box;
  background-color: #b0b3b2cc;

  opacity: 0%;
  display: none;

  /* pointer-events: none; */
}

#overlay.show {
  opacity: 100%;
  display: block;
}

.overlay-toggle {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  pointer-events: auto;
}


#instructions {
  width: 45%;
  padding: 25px;
  margin: 80px auto;
  border: 12px solid var(--dark3);
  background-color: var(--dark6);
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: auto;
}
