:root {
  --dark0: #211e20;
  --dark1: #3e3c3d;
  --dark2: #5a5a5a;
  --dark3: #777877;
  --dark4: #939595;
  --dark5: #b0b3b2;
  --dark6: #ccd1cf;

  --blue: #555568;
  --tan: #a0a08b;
  --white: #e9efec;

  --1: #FFCACA;
  --2: #FFDCC6;
  --3: #FFEDC1;
  --4: #FEFFB8;
  --5: #E1FFC2;
  --6: #C4FFCB;
  --7: #B9ECE5;
  --8: #ADD8FF;
  --9: #BDC4F4;
  --0: #CCAFE9;
}

body {
  background-color: var(--dark5);
}

h1, h2, h3, h4, h5, h6, p, a, li {
  color: var(--black);
  font-family: Comic Sans, sans-serif;
}

p, a, li {
  font-size: 24px;
}

h1 {
  text-align: center;
}


.container {
  width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
}

.box {
  border: 3px solid var(--blue);
  background-color: var(--white);
  padding: 10px 10px;
  margin: 20px 0;
  box-sizing: border-box;
}

.title h1 {
  margin: 10px;
}

.game-grid {
  border: 3px solid var(--dark4);
  margin: 10px auto;
  height: 25vw;
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  /* pointer-events: none; */
}

.single-grid {
  z-index: 10;
  height: 5vw;
  width: 5vw;
  box-sizing: border-box;
  border: 3px solid var(--dark4);
  user-select: none;
  /* pointer-events: none; */
}



#drag-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 100%;
  gap: 10px;
  padding: 10px;
  /* flex-basis: content; */
}

.drag {
  /* position: relative; z-index: 99999; */


  box-sizing: border-box;
  border: 3px solid var(--blue);
  display: flex;
  justify-content: space-between;

  background-color: var(--dark6);
  user-select: none;

  /* padding: calc(2.5vw - 8px) ; */
}

.d12 {
  flex-flow: row;
  height: calc(5vw - 6px);
  width: calc(10vw - 6px);
}

.d21 {
  flex-flow: column;
  height: calc(10vw - 6px);
  width: calc(5vw - 6px);
}

.d13 {
  flex-flow: row;
  height: calc(5vw - 6px);
  width: calc(15vw - 6px);
}

.d31 {
  flex-flow: column;
  height: calc(15vw - 6px);
  width: calc(5vw - 6px);
}

.d11 {
  flex-flow: column;
  height: calc(5vw - 6px);
  width: calc(5vw - 6px);
}


.drag-box-square {
  box-sizing: border-box;
  height: calc(5vw - 12px);
  width: calc(5vw - 12px);
  user-select: none;
}

.drag-box-square p {
  text-align: center;
  margin: calc(50% - 12px - 2px) 0;
  padding: 0;
}

.footer {
  clear: both;
}


div[data-val='1'] {
  background-color: var(--1);
}

div[data-val='2'] {
  background-color: var(--2);
}

div[data-val='3'] {
  background-color: var(--3);
}

div[data-val='4'] {
  background-color: var(--4);
}

div[data-val='5'] {
  background-color: var(--5);
}

div[data-val='6'] {
  background-color: var(--6);
}

div[data-val='7'] {
  background-color: var(--7);
}

div[data-val='8'] {
  background-color: var(--8);
}

div[data-val='9'] {
  background-color: var(--9);
}

div[data-val='0'] {
  background-color: var(--0);
}
